# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Android
**/android/local.properties
**/android/app/debug.keystore
**/android/key.properties
**/android/.gradle/
**/android/captures/
**/android/.settings/
**/android/.project
**/android/.classpath
**/android/*.iml

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcworkspace/xcuserdata/

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/.symlinks/
**/macos/Runner.xcodeproj/project.xcworkspace/
**/macos/Runner.xcworkspace/
**/macos/Runner.xcodeproj/xcuserdata/
**/macos/Runner.xcworkspace/xcuserdata/

# Linux
**/linux/flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Web
**/web/.dart_tool/

# Coverage
coverage/

# Logs
*.log

# Generated plugin registrants
lib/generated_plugin_registrant.dart

# Misc
pubspec.lock # optional for apps; keep for packages